.favorites{
    .list{
        display: flex;
        .favorite{
            h3{
                margin: 0;
            }
            cursor: pointer;
            padding: 10px 20px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}