html,
body,
#root,
.App {
  height: 100%;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.dark {
  background-color: #353535;
  color: white;
}
.dark .p-menuitem-link {
    background-color: #353535 !important;
}
.dark .p-tabmenu-nav {
    background-color: #353535 !important;
}
.container {
  width: 85vw;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .p-tabmenu {
    margin-bottom: 20px !important;
  }
  .p-tabmenu-nav {
    flex-direction: column;
  }
  .settings {
    display: flex;
    justify-content: space-around;
  }
}
